<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
          th:href="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My project</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/}">Home</a></li>
               
                
                <li th:with="currentUser=${#httpServletRequest.userPrincipal?.principal}">
                	<div th:if="${currentUser != null}">
									<form class="navbar-form pull-right" th:action="@{/logout}" method="post">											
											<button type="submit" class="btn">Log out</button>
									</form>
									<p id="un" class="navbar-text pull-right" th:text="${currentUser.username}">
										sample_user
									</p>
							</div>
                </li>             
            </ul>
        </div>
        
       
        
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>