<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional, as this markup fragment will be included -->
    <!-- from "fragments/header.html" at runtime.                                     -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="hero-unit">
        <h1>Order Service App</h1>
        <p>
            Order List
        </p>
        <p>
            <!-- <a href="#" th:href="@{properties}" class="btn btn-large btn-success">System Properties</a> -->
        </p>
    </div>
    <div>
        <h1>Item List</h1>
        <p>
            List of available items in the system
        </p>
        <table class="table table-striped table-bordered">
		  <thead>
		    <tr>
		      <th>Primary Key</th>
		      <th>Organization ID</th>
		      <th>Item Id</th>
		      <th>Description</th>
		      <th>Size</th>
		      <th>Color</th>		      
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="item : ${items}">		      
		      <td th:text="${item.pk}">45, Oxford Street</td>
		      <td th:text="${item.orgId}">Cambridge</td>
		      <td th:text="${item.itemId}">555-555-555</td>		
		      <td th:text="${item.desc}">555-555-555</td>		
		      <td th:text="${item.size}">555-555-555</td>		
		      <td th:text="${item.color}">555-555-555</td>		     
		    </tr>
		  </tbody>
		</table>        
    </div>
    <footer>
        <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
    </footer>
</div>
</body>
</html>