<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Secured Content</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="hero-unit">
			<h1>Order Service App</h1>
			<p>Order List</p>
			<p>
				<!-- <a href="#" th:href="@{properties}" class="btn btn-large btn-success">System Properties</a> -->
			</p>
		</div>
		<div>
			<h1>Item List</h1>
			<p>List of available items in the system</p>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Primary Key</th>
						<th>Organization ID</th>
						<th>Item Id</th>
						<th>Description</th>
						<th>Size</th>
						<th>Color</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${items}">
						<td th:text="${item.pk}">45, Oxford Street</td>
						<td th:text="${item.orgId}">Cambridge</td>
						<td th:text="${item.itemId}">555-555-555</td>
						<td th:text="${item.desc}">555-555-555</td>
						<td th:text="${item.size}">555-555-555</td>
						<td th:text="${item.color}">555-555-555</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</body>
</html>