<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>Secured Content</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Secured Page</h1>
		<p>This page is secured using Spring Boot, Spring Session, and Spring Security.</p>
		
		<a href="/create-item">Create Item</a>
		
		<h2>Available Items</h2>
		 
		<table>
		  <thead>
		    <tr>
		      <th style="width: 150px;">Primary Key</th>
		      <th style="width: 150px;">Organization ID</th>
		      <th style="width: 200px;">Item Id</th>
		      <th style="width: 200px;">Description</th>
		      <th style="width: 200px;">Size</th>
		      <th style="width: 200px;">Color</th>		      
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="item : ${items}">		      
		      <td th:text="${item.pk}">45, Oxford Street</td>
		      <td th:text="${item.orgId}">Cambridge</td>
		      <td th:text="${item.itemId}">555-555-555</td>		
		      <td th:text="${item.desc}">555-555-555</td>		
		      <td th:text="${item.size}">555-555-555</td>		
		      <td th:text="${item.color}">555-555-555</td>		     
		    </tr>
		  </tbody>
		</table>
		
	</div>
</body>
</html>